body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: grey;
}

.header,
.title-content,
.images-section,
.motivational-message,
.call-to-action,
.footer {
  color: white;
  height: 72px;
  display: flex;
  padding: 16px;
}

.header {
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
}

.footer {
  background-color: #1f2937;
}

.header > .left-links > li > a {
  color: #f9faf8;
  font-size: 24px;
}

.title-content {
  background-color: #1f2937;
  height: 100px;
  padding: 100px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.title-container {
  max-width: 400px;
}
.title-subtext {
  padding: 10px 0px;
}
.title-image {
  border-radius: 25px;
  border: solid;
  min-width: 400px;
  min-height: 200px;
}

.images-section {
  border: solid blue;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: column;
}
.image-section-class {
  min-height: 200px;
  min-width: 200px;
  border: solid blue;
  color: red;
}

.images-container {
  min-height: 300px;
  min-width: 300px;
  border: solid red;
}
.images-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  color: red;
  padding: 32px 0px;
}

.images-subtext {
  color: red;
}

.container {
  border: solid;
  display: flex;
  justify-content: space-evenly;
}

.title-image {
  width: 300px;
  display: flex;
  height: auto;
}
ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0px;
  margin: 0px;
}

li {
  display: flex;
}
.header ul {
  list-style: none;
}

.big-title {
  font-size: 48px;
  font-weight: 800;
}

.footer {
  flex-shrink: 0;
}

.motivational-message {
  background-color: #e5e7eb;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  font-size: 32px;
  flex-direction: column;
}

.quote {
  max-width: 800px;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.quote-author {
  text-align: end;
  font-size: 24px;
  font-weight: 800;
}

.call-to-action {
  justify-content: center;
  align-items: center;
  margin: 96px;
}
.container-cta {
  min-width: 600px;
  max-height: 300px;
  display: flex;
  border: solid red;
  background-color: #3882f6;
  justify-content: space-between;
  padding: 40px 60px;
}

.cta-subtext {
}

.cta-button {
  background-color: #3882f6;
  color: white;
  border-radius: 12px;
  padding: 0px 24px;
  border: 2px solid white;
}

.footer {
  justify-content: center;
  align-items: center;
  height: 50px;
}
